.swiper_container_page {
  width: 95%;
  height: 13rem;
  position: static;
}



.swiper-button-prev-page:after,
.swiper-button-next-page:after {
  display: none;
}

.swiper-button-prev-page {
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 10;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb8307;
  border-radius: 100%;
}

.swiper-button-next-page {
  position: absolute;
  top: 35%;
  right: 0;
  z-index: 10;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb8307;
  border-radius: 100%;
}

.swiper-button-prev-page:before,
.swiper-button-next-page:before {
  position: absolute;
  border-radius: 100%;
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  background: rgba(235, 131, 7, 0.7);
}
